.design-card {
    margin-top: 3vh;
    border: 2px solid #000;
    border-radius: 10px;
}

.design-card-cover {
    height: 50vw;
    background-color: #c4c4c4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.design-card-content {
    padding: 1vh 2vw;
}

.design-card-content-top {
    display: flex;
}

.design-card-profile {
    min-width: 12vw;
    min-height: 12vw;
    border-radius: 6vw;
    background-color: #c4c4c4;
    margin-right: 2vw;
}

.design-card-body {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1rem;
    max-height: 2rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1vh;
}

.design-card-tags {
    line-height: 1.2rem;
    max-height: 1.2rem;
    overflow: hidden;
}