.create-post-select-title {
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

.create-post-select-top, .create-post-select-bottom {
    margin-bottom: 15vh;
}

.create-post-options-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.create-post-option {
    padding: 0.3rem 0.3rem;
    color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.upload-button {
    width: 100%;
    height: 6vh;
    border: 2px solid #000;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 3vh;
}

.upload-button:focus {
    outline: none;
}