/**
 * This file contains style specific to expanded posts
 * Check DesignCard.css for styles on a design card 
 */

.expanded-post-scrollable {
    height: calc(79vh - 4rem);
    overflow: scroll;
}

.design-card-content-top-expanded {
    margin: 3vh 0;
}

.design-card-content-top-expanded div .design-card-body {
    max-height: none;
}

.add-comment {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1vh 2vw;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.add-comment:focus {
    border-color: #9a9a9a;
    outline: none;
}